<!DOCTYPE html>
<html>
<head>

  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width">

  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <link href="/assets/css/style.css" rel="stylesheet" />
  <link href="/assets/css/colors-dark.css" rel="stylesheet" />

</head>

<body>

  <header id="header">
    <h1> {{ Дом. страница szymon_szewk }}</a></h1>
    <p>{{ И ничего более. }}</p>
  </header>

  <div id="page">

    <div id="sidebar">
      <nav>
        <ul>
          <li><a href="/">Дом</a></li>
          <li><a href="/archives">Архив</a></li>
          <li><a href="/about">Обо мне</a></li>
          <li><a href="https://github.com/szewk">Гитхаб</a></li>
        </ul>
      </nav>
    </div>

    <div id="content">
      {{ content }}
    </div>

  </div>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
  <script src="/assets/js/jquery.mobilemenu.min.js"></script>

  <script>
    $(document).ready(function(){
      $('#sidebar nav ul').mobileMenu({'topOptionText': 'Menu', 'prependTo': '#sidebar nav'});
    });
  </script>

</body>
</html>